@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Metrophobic);

$primary: #0f3cce;
$primary-trans: rgba(15,60,206,.5);
$secondary: #0b2061;
$grey: #474747;
$grey-trans: rgba(71,71,71,.3);

h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
}

h1{
    color: $secondary;
}

body{
    font-family: 'Metrophobic', sans-serif;
    color: $grey;
}

a{
    color: $primary;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}